html {
    background-color: black;
    color: deeppink;
}

.App {
    text-align: center;
}

.App-header {
    
    height: 15vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 1em;
    padding-left: 1em;
}

.App-header h1 {
    flex: 0 1 auto;
}

.App-header-search-bar {
    flex: 1 1 auto;
}

.App-header-links {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 1vmin;
}

img:hover {
    cursor: pointer;
}

ul {
    padding-left: 1vw;
    padding-right: 1vw;
}

.cart-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.cart-buttons {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.my-items-container {
    display: flex;
    justify-content: space-evenly;
}

.my-items-container li {
    outline: 1px solid fuchsia;
    margin: 1em;
}

.item-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item-list-container li {
    outline: 1px solid magenta;
}

@media screen and (max-width: 1080px) {
    .App-header {
        flex-flow: column nowrap;
    }
    .App-header > h1 {
        margin: 0;
    }
    .App-header-search-bar {
        flex: 0 1 auto;
    }
}

@media screen and (max-width: 760px) {
    .cart-container {
        flex-flow: column nowrap;
    }
    .my-items-container {
        flex-flow: column nowrap;
    }
    .item-list-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-height: 599px) {
    .App-header {
        height: 20vh;
    }
    .App-main {
        max-height: 75vh;
    }
}

@media screen and (max-height: 460px) {
    .App-header {
        height: 25vh;
    }
    .App-main {
        max-height: 70vh;
    }
}

a {
    color: #61dafb;
}

a:visited {
    color: violet;
}

.App-main {
    margin-top: 2vh;
    border-top: 1px solid darkmagenta;
    height: 80vh;
}
/**/
.landing-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    height: 100%;
}

.landing-page-container section {
    color: magenta;
    border: 2px solid deeppink;
    padding: 10px;
    min-height: 15vh;
    max-height: 25vh;
}

li {
    list-style: none;
    padding: 1em;
}

form {
    border: 1px solid darkmagenta;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form label {
    grid-column: 1 / 1;
}

form input,
form textarea {
    background-color: violet;
    grid-column: 2 / 4;
}

button {
    background-color: cyan;
}

form button {
    grid-column: 1 / 4;
    width: 5em;
    justify-self: center;
}

button[type="submit"] {
    background-color: limegreen;
    font-weight: 600;
}

.button-cancel {
    background-color: tomato;
}
/**/
